<style>
.product-table td:first-child, .product-table th:first-child, .product-table td:nth-child(2), .product-table th:nth-child(2) {
    text-align: left;
}

.product-table tr:first-child th {
    padding-bottom: 5mm;
}

th, td {
    font-family: monospace;
    font-weight: 400;
    font-style: normal;

    font-size: 14px;
    line-height: 14px;

    white-space: pre;
}
</style>
<div class="section product-table">
    <table>
        <tr>
            <th>Artikelbezeichnung</th>
            <th>Menge</th>
            <th>Preis</th>
            <th>Gespart</th>
            <th>Total</th>
            <th>#</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td> {{ product.amount }}</td>
                <td>{{ product.price }}</td>
                {% if product.discounted_price != product.price %}
                    <td>{{ product.price|float - product.discounted_price|float }} </td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ product.total }}</td>
                <td>{{ product.tax_id }}</td>
            </tr>

            {% if product.discount != '0.00' %}
                <tr>
                    <td class="bold">  Rabatt</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="bold">{{ product.discount }}-   </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
