
html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

html, th, td {
    /*
    font-family: "Courier New";
    font-size: 14px;
    font-weight: normal;
     */

    /*
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
     */

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 14px;
    line-height: 14px;
}

.bold {
    font-weight: bold;
}

h1 {
    font-family: Arial;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}

td {
    white-space: pre;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.receipt {
    width: 76mm;
    padding: 2mm;
    background-color: white;

    text-align: center;
}

.receipt .body {
    width: 101mm;
    transform: scaleX(0.75);
    transform-origin: left;
}

/* SECTIONS */

.section {
    position: relative;
    margin: 5mm 0;
}

.total h2 {
    margin-bottom: 3mm;
}

.border-constraint {
    position: relative;
}

.border {
    position: absolute;
    border-bottom: 2px dashed black;
}

.border-solid {
    border-bottom-style: solid;
}

/* SPECIFIC */

table {
    width: 100%;
    text-align: right;

    border-spacing: 0;

    font-size: 14px;
    line-height: 14px;
}

.product-table table td:nth-child(-n + 2), .product-table table th:nth-child(-n + 2) {
    text-align: left;
}

.tax {
    text-align: left;
}

.total {
    margin-bottom: 10mm;
}

.slogan {
    font-family: Arial;
}
